@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Gayathri:wght@100;400;700&family=MonteCarlo&family=Pirata+One&family=Playpen+Sans:wght@100..800&family=Rozha+One&family=Tiro+Devanagari+Hindi:ital@0;1&display=swap');
.hero-main{
    position: relative;
    z-index:5; 
}
.hero-title{
    font-size:70px; 
    font-weight:600; 
    line-height:70px ; 
    font-family:'fraunces'
}
.hero-para{
    font-size:14px; 
}
.hero-btn-container{
    margin-top:30px; 
    gap:35px; 
    width:100% ; 
}
.hero-begin-btn {
background:rgb(62, 113, 196) ; 
color:white ; 
font-size:15px;
padding:5px 30px;  
border-radius:30px; 
}
.hero-learn-btn{
    border:1px solid black  ;
font-size:15px;
padding:5px 30px;   
border-radius:30px; 
}
.image-collage {
  position: relative;
  width: 100%;
  height: 500px;
  margin-top: 80px;
  margin-bottom:120px; 
}

/* COMMON IMAGE STYLE */
.img {
  position: absolute;
  border-radius: 10px;
  object-fit: cover;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}

/* LEFT IMAGE */
.img-left {
  width: 390px;
  height: 290px;
  left: 10%;
  top: 120px;
  z-index: 1;
}

/* CENTER IMAGE */
.img-center {
  width: 400px;
  height: 320px;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  z-index: 2;
}

/* RIGHT IMAGE */
.img-right {
  width: 390px;
  height: 290px;
  right: 10%;
  top: 100px;
  z-index: 1;
}
@media (max-width: 768px) {
  .image-collage {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .img {
    position: static;
    width: 90%;
    height: auto;
  }
  .img-center{
    position:relative; 
    left:45%; 
  }
}